<div style="text-align:center">
  <h1>
    Table Exercise
  </h1>
</div>

<div>
    <label>Filter
      <input [(ngModel)]="filterText" placeholder="filter">
    </label>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <ng-container *ngFor="let person of people" >
    <tr *ngIf="meetsFilter(person)">
      <td ><span class="badge">{{person.name}}</span></td>
      <td><span class="badge">{{person.phone}}</span></td>
      <td><span class="badge">{{person.email}}</span></td>
    </tr>
  </ng-container>

</table>

